.appContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notFoundWrapper {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  width: 75%;
  height: auto;
  justify-content: center;
}

.notFoundWrapper h1 {
  font-size: 3rem;
}