
.appHeader {
  height: 5rem;
}

.appHeader img {
  height: 2.5rem;
  width: 2.5rem;
  margin: 0.5rem 1rem 0.25rem 1.5rem;
}

.selectField {
  display: flex;
  height: 100%;
  width: auto;
  margin-left: 1rem;
}

.appContentWrapper {
    display: flex;
    min-height: 100%;
    flex-direction:column;
}

.appContent {
  display: flex;
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
  flex:1;
}

.appFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 5rem;
}
